<footer>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <div id="footermenu">
        <div class="footerleftlinks">
          <div class="footerupperhalf">
            <span class="footerheading"> Quick Links </span>
            <ul class="navbar-nav navbar-brand">
              <li class="">link1</li>
              <li class="">link1</li>
              <li class="">link1</li>
              <li class="">link1</li>
              <li class="">link1</li>
              <li class="">link1</li>
              <li class="">link1</li>
              <li class="">link1</li>
              <li class="">link1</li>
              <li class="">link1</li>
            </ul>
          </div>
          <div class="footerlowerhalf">
            <span class="footerheading"> BLABLA </span>
            <ul class="navbar-nav  navbar-brand">
              <li class="">link1</li>
              <li class="">link1</li>
              <li class="">link1</li>
              <li class="">link1</li>
              <li class="">link1</li>
              <li class="">link1</li>
              <li class="">link1</li>
              <li class="">link1</li>
              <li class="">link1</li>
              <li class="">link1</li>
            </ul>
          </div>
        </div>
        <div class="footerrightlinks">
          <div class="footerupperhalf">
            <span class="footerheading"> STAY CONNECTED </span>
            <ul class="navbar-nav  navbar-brand">
              <li class="">link1</li>
              <li class="">link1</li>
              <li class="">link1</li>
              <li class="">link1</li>
              <li class="">link1</li>
              <li class="">link1</li>
              <li class="">link1</li>
              <li class="">link1</li>
              <li class="">link1</li>
              <li class="">link1</li>
            </ul>
          </div>
          <div class="footerlowerhalf">
            <span class="footerheading"> BLABLA </span>
            <ul class="navbar-nav  navbar-brand">
              <li class="">link1</li>
              <li class="">link1</li>
              <li class="">link1</li>
              <li class="">link1</li>
              <li class="">link1</li>
              <li class="">link1</li>
              <li class="">link1</li>
              <li class="">link1</li>
              <li class="">link1</li>
              <li class="">link1</li>
            </ul>
          </div>
          <div class="footersocialmedia">
            <ul class="navbar-nav  navbar-brand">
              <li><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#">5</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footercopyright">
        <a href="#"><img src="#" /></a>
        <p class="copyright">
          © Copyright 2021 Rush University Medical Center, Rush Copley Medical
          Center or Rush Oak Park Hospital.
        </p>
        <p>
          All physicians featured on this website are on the medical faculty of
          Rush University Medical Center, Rush Copley Medical Center or Rush Oak
          Park Hospital. Some of the physicians featured are in private practice
          and, as independent practitioners, are not agents or employees of Rush
          University Medical Center, Rush Copley Medical Center or Rush Oak Park
          Hospital.
        </p>
      </div>
    </div>
  </nav>
</footer>
